<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./templates/consolidatedMailBackup.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
<div class = "single-tester-consolidated-report">
    {% include "portionofconsolidatedMail1.html" %}
    {% include "portionofconsolidatedMail2.html" %}
    {% include "portionofconsolidatedMail3.html" %}
  
</div> <!--single-tester-consolidated-report-->   
<hr> 

</body>
</html>