  
<div class="container"> <!--provides a wrapper for testing the scroll--> 
  <h4> 2. Profiles which are not executed last week[{{ startDate }} - {{ endDate }}] </h4>
  <table>
    <thead>
      <tr>
        <th>profiles not executed</th>
        <th>last executed</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
        {% for profileData in testerData %}
        {% set data_loop = loop %}
        <tr>
        <td>{{ profileData.profile }}</td>
        <td>{{ profileData.lastexecuted }}</td>
         {% if loop.first %}
        <td rowspan="{{ testerData|length }}">{{ tester}}</td>
         {% endif %}
      </tr> 
        {% endfor %}      
      
    </tbody>
  </table>
</div> <!--/.container-->     

