  

<div class="container"> <!--provides a wrapper for testing the scroll--> 
  <h3> 2. Projects which are not executed last week </h3>
  <table>
    <thead>
      <tr>
        <th>profiles not executed</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
          
      <tr>
        {% if projectsnotexecuted is string %}
        <td>{{ projectsnotexecuted }}</td>
        {% else %}
        <td>
          {% for value in projectsnotexecuted %} 
             {{ value }}<br>
          {% endfor %}
       </td>      
        {% endif %}

        <td>{{ tester }}</td>
      </tr>
      

 
    </tbody>
  </table>
</div> <!--/.container-->     

