  
<div class="container"> <!--provides a wrapper for testing the scroll--> 
  <h4> List of all Not executed Jobs in above builds </h4>
  <table>
    <thead>
      <tr>
        <th>Not Executed Jobs</th>
        <th>Load</th>
      </tr>
    </thead>
    <tbody>
        {% for build in notExecutedJobsBuildDict %}
        {% set data_loop = loop %}
          {% for profile in notExecutedJobsBuildDict[build] %}
          <tr>
            <td>{{ profile }}</td>
            {% if loop.first %}
            <td rowspan="{{ notExecutedJobsBuildDict[build]|length }}">{{ build }}</td>
            {% endif %}
          </tr> 
          {% endfor %}
        {% endfor %}      
      
    </tbody>
  </table>
</div> <!--/.container-->     

