
<div class = "single-tester-consolidated-report">
    <h3> Summary of {{tester}} (Profile Count = {{ profile_count }} )</h3>
      <div class="each-section"><!--each-section-->
     <h4>1. Summary of {{tester}}'s last week Profiles Run</h4>   
      {% include section1 ignore missing %}
      </div>  
  
      <div class="each-section"><!--each-section-->
      {% include section2 ignore missing %}
      </div>  
          
      <div class="each-section"><!--each-section-->
        {% include section3 ignore missing %}
      </div>  

      <div class="each-section"><!--each-section-->
        {% include section4 ignore missing %}
      </div>  
</div> <!--single-tester-consolidated-report-->   
<hr> 
  